.about {
    background: #262335;
    padding-top: 96px;
    padding-bottom: 66px;
 }

 .profile {
     position: relative;
     width: 220px;
     height: 220px;
 }

 .about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
    font-weight: bold;
 }

 .about p {
    line-height: 30px;
    color: #7A7A7A;
 }

 .download{
     width: 58px;
     padding-top: 2rem;
 }

 .download-button{
    background-color: #211530;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 230px;
 }

 .download-button:hover {
    background-color: #fff ;
    color: #2B2B2B !important;
 }

 .download-button:hover a{
    color: #2B2B2B !important;
    font-weight: bold;
 }


 .MuiSvgIcon-root{
     font-size: 20px;
     margin-right: 15px;
 }